@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,600;1,300&family=Fira+Sans:wght@300;400;600&display=swap');

body {
    margin: 0;
}

header {
    width: 100%;
}

.container {
    width: 95%;
    margin: 0px auto;
    max-width: 1200px;
    min-width: 360px;
    /* outline: rgb(255, 145, 0) solid 1px; */

}

.section_gap {
    margin: 40px auto;
}

nav {
    height: 70px;
    justify-content: space-between;

}

.flex_content {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

.brand {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
    color: rgb(218, 120, 0);
}

.nav_wrapper {
    display: flex;
    gap: 30px;
}

.nav_item {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    border-radius: 5px;
    transition: linear 50ms;
}

.nav_item:hover {
    outline: rgb(255, 145, 0) solid 1px;
}

.nav_item:active {
    background-color: #ff6a00;
    color: #000000;
    transform: translateY(2px);
}

.nav_item>a:active {
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

.shop_cart {
    margin-left: 10px;
    width: 30px;
    transition: linear 100ms;
}

.shop_cart:active {
    transform: translateY(2px);
}

.display_hidden {
    display: none;
}

.display_shown {
    display: contents;
}

.banner {
    justify-content: space-between;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;
}

.orange_text {
    color: rgb(255, 145, 0);
}

#banner_text_container>p {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

.header_btns_container {
    margin: 30px 0 30px 0;
}

.header_btn {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    width: 140px;
    padding: 10px 0px;
    border-radius: 20px;
    text-align: center;
    border: none;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header_btns_container>a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    text-align: center;
}

#buy_btn {
    background-color: rgb(255, 145, 0);
    outline: rgb(255, 145, 0) solid 2px;
    border: none;
    color: #ffffff;
    transition: linear 100ms;
}

#explore_btn {
    margin-left: 20px;
    outline: rgb(255, 145, 0) solid 2px;
    color: #000000;
    transition: linear 100ms;
}

#buy_btn:hover,
#explore_btn:hover {
    background-color: rgb(253, 84, 12);
    outline: rgb(253, 84, 12) solid 2px;
    color: #000000;
    outline: none;
}

#buy_btn:active,
#explore_btn:active {
    background-color: #ff6a00;
    transform: translateY(2px);
}

#banner_img {
    width: 50%;
    display: flex;
    justify-content: end;
}

#banner_img>img {
    width: 100%;
}

.feature_container {
    justify-content: center;
    margin-top: 50px;
}

h2 {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

.features_div {
    width: 30%;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;

}

.feature_banner {
    width: 40%;
    margin-top: 40px;
    justify-content: center;
}

.feature_banner>img {}

.single_feature {
    width: 100%;
    height: 260px;
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0;
}

.feature_list {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    position: relative;
    width: 150px;
    height: 150px;
    top: 20px;
    left: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0;
    z-index: 2;

}

.feature_bg {
    position: relative;
    top: -140px;
    left: 0px;
    width: 170px;
    height: 170px;
    z-index: 1;
    transform: rotate(0.125turn);
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.15) 0px 5px 10px;

}

.section_gap>p {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

.feature_list>h4,
p {
    text-align: center;
    margin: 5px 0;
    padding: 0;
}

.feature_list>img {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
}

.feature_bg_1 {
    background-color: aquamarine;
}

.feature_bg_2 {
    background-color: rgb(250, 246, 171);
}

.feature_bg_3 {
    background-color: rgb(127, 249, 255);
}

.feature_bg_4 {
    background-color: rgb(250, 173, 255);
}

.feature_bg_5 {
    background-color: rgb(255, 145, 145);
}

.feature_bg_6 {
    background-color: rgb(199, 180, 249);
}

.service_section {

    /* height: 140px; */
    background: linear-gradient(to left, #ff6a00, #9f4200);
    border-radius: 15px;
    color: #ffffff;
    padding: 20px 0px;
}

.service_list {
    justify-content: space-around;
    color: #ffffff;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.single_service {
    gap: 10px;
    margin-top: 20px;
}

.single_service>p {
    font-size: 20px;
    font-weight: 600;
}

@media(max-width: 480px) {

    .feature_container {
        display: grid;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
    }

    .features_div {
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 769px) {
    .nav_toggle {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 35px;
        padding: 0px;

    }

    .nav_wrapper {
        margin: 0;
        /* padding-bottom: 20px; */
        padding-left: 0;
        display: flex;
        gap: 20px;
        justify-content: start;

        height: 50%;
        flex-direction: column;
        transition: ease-in 500ms;
        background-color: rgb(255, 255, 255);
    }

    .nav_item {
        /* padding: 5px 65px; */
        width: 90%;
    }

    .nav_inactive {
        position: absolute;
        top: -100%;
        width: 0%;
        left: 50%;
        opacity: 0%;

    }

    .nav_active {
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0;
        z-index: 9999;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }

    .shop_cart {
        padding-right: 20px;
    }

    .banner {
        flex-direction: column;
    }

    h1 {
        font-size: 30px;
    }

    #banner_text_container {
        text-align: center;
    }

    #banner_img {
        margin-top: 20px;
    }

    .feature_container {
        justify-content: space-around;
    }

    /* .single_feature, */
    .feature_list,
    .feature_bg {
        width: 150px;
        height: 150px;
    }

    .feature_list {
        top: 0px;
        left: 0;
    }


    .feature_banner {
        display: none;
    }

    .service_section {
        height: fit-content;
    }

    .service_list {
        flex-direction: column;
    }


}