@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,600;1,300&family=Fira+Sans:wght@300;400;600&display=swap');

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    background-color: #ffffff;
}

header {
    width: 100%;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
}

h3 {
    text-align: center;
    font-size: 20px;
}

p {
    font-size: 14px;
}

.container {
    width: 90%;
    margin: 0px auto;
    /* padding: 0 15px; */
    max-width: 1200px;
    min-width: 360px;
}

.section_gap {
    margin: 50px auto;
}

.flex_content {
    display: flex;
    align-items: center;
}

/* ////////////////
section animation
//////////////////////  */

.scroll_down_anm {
    position: relative;
    opacity: 0;
    transition: ease-in-out 500ms;
}

.scroll_down_anm.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* ////////////////
button 
//////////////////////  */
.header_btn,
.buy_btn,
.subscribe_btn {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    width: 140px;
    padding: 10px 0px;
    border-radius: 20px;
    text-align: center;
    border: none;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.subscribe_btn {
    background-color: #fad8c0;
    transition: linear 100ms;
    font-size: 14px;
    position: relative;
    left: -5px;
    z-index: 555;
}

.buy_btn {
    background-color: #ff9100;
    outline: #ff9100 solid 2px;
    border: none;
    color: #ffffff;
    transition: linear 100ms;
}

#explore_btn {
    margin-left: 20px;
    outline: #ff9100 solid 2px;
    color: #000000;
    transition: linear 100ms;
}

.review_btns button:hover,
.buy_btn:hover,
.subscribe_btn:hover,
#explore_btn:hover {
    background-color: #fd540c;
    outline: #fd540c solid 2px;
    color: #000000;
    outline: none;
}

.review_btns button:active,
.buy_btn:active,
#explore_btn:active,
.subscribe_btn:active {
    background-color: #ff9100;
    transform: translateY(2px);
}

/* ////////////////
nav
//////////////////////  */
nav {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

nav>.container {
    justify-content: space-between;
}

li {
    list-style: none;
}

.nav_wrapper {
    display: flex;
    gap: 30px;
    background-color: rgb(255, 255, 255);
}

.nav_item {
    font-size: 16px;
    font-weight: 600;
    width: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    border-radius: 5px;
    transition: linear 50ms;
}

.nav_item:hover {
    outline: #ff9100 solid 1px;
}

.nav_item:active {
    background-color: #ff6a00;
    color: #000000;
    transform: translateY(2px);
}

.nav_item>a:active {
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

.shop_cart {
    margin-left: 10px;
    width: 30px;
    transition: linear 100ms;
}

.shop_cart:active {
    transform: translateY(2px);
}

.display_hidden {
    display: none;
}

.display_shown {
    display: contents;
}

/* ////////////////
banner
//////////////////////  */
.banner {
    justify-content: space-between;
    height: 80vh;
    align-items: center;
}

.orange_text {
    color: #ff9100;
}

#banner_text_container>p {
    text-align: left;
    font-size: 18px;
}

.header_btns_container {
    margin: 30px 0 30px 0;
}

.header_btns_container>a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    text-align: center;
}

#banner_img {
    width: 50%;
    display: flex;
    justify-content: end;
}

#banner_img>img {
    max-width: 480px;
}

/* ////////////////
product features
//////////////////////  */

.feature_container {
    justify-content: center;

}

.features_div {
    width: 30%;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    position: relative;
    bottom: -12px;

}

.feature_banner {
    width: 40%;
    margin-top: 40px;
    justify-content: center;
}

.single_feature {
    width: 100%;
    height: 260px;
    position: relative;
    left: 0px;
    top: 0px;
}

.feature_list {
    font-size: 14px;
    position: relative;
    width: 150px;
    height: 150px;
    top: 40px;
    left: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.feature_bg {
    position: relative;
    top: -120px;
    left: 0px;
    width: 170px;
    height: 170px;
    z-index: 1;
    transform: rotate(0.125turn);
    box-shadow: rgba(0, 0, 0, .25) 0px 15px 25px, rgba(0, 0, 0, .25) 0px 5px 10px;
}

.section_gap>p {
    font-size: 20px;
}

.feature_list>h4,
p {
    text-align: center;
    margin: 5px 0;
}

.feature_list>img {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
}

.feature_bg_1 {
    background-color: aquamarine;
}

.feature_bg_2 {
    background-color: rgb(250, 246, 171);
}

.feature_bg_3 {
    background-color: rgb(127, 249, 255);
}

.feature_bg_4 {
    background-color: rgb(250, 173, 255);
}

.feature_bg_5 {
    background-color: rgb(255, 145, 145);
}

.feature_bg_6 {
    background-color: rgb(199, 180, 249);
}

/* ////////////////
Service section
//////////////////////  */
.service_section {
    background: linear-gradient(to left, #ff9100, #9f4200);
    border-radius: 15px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.service_list {
    justify-content: space-around;
    color: #ffffff;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.single_service {
    gap: 10px;
    /* margin-top: 20px; */
}

.single_service>p {
    font-size: 20px;
    font-weight: 600;
}

/* ////////////////
product cards
//////////////////////  */
.product_sec {
    /* margin-bottom: -80px; */
}

#product_container {
    position: relative;
    top: 0;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.product_container_bg {
    position: relative;
    top: -140px;
    z-index: 0;
    flex-wrap: wrap;
    height: 250px;
    background-color: #ff9100;
    border-radius: 35px;
}

.new_product_single {
    display: flex;
    flex-direction: column;
    width: 210px;
    background-repeat: no-repeat;
    align-items: center;
    padding: 15px 5px;
    background-color: #ffffff;
    border-radius: 15px;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ////////////////
review slider
//////////////////////  */
.review_section {
    margin-top: -140px;
}

.review_section>.container {
    justify-content: space-between;
    align-items: center;
}

.review_title {
    text-align: left;
    width: 40%;
    margin-top: 0;
}


#review_container {
    display: flex;
    width: max-content;
}

#reviewList {
    width: 100%;
    max-width: 720px;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: both;
    -ms-overflow-style: none;
    /* IE 11 */
    scrollbar-width: none;
    /* Firefox 64 */

}

#reviewList::-webkit-scrollbar {
    display: none;
}

h4>span {
    font-size: 30px;
}

.review_card {
    border-radius: 15px;
    width: 240px;
    height: 350px;
    overflow: hidden;
    transition: 0.5s;
    margin: 10px;
    scroll-snap-align: start;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review_btns {
    justify-content: center;
}

.review_btns button {
    justify-content: center;
    background-color: #fad8c0;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    transition: ease-in-out 200ms;
}

.review_card>img,
.avatar {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 10px 15px #7e878dbe;
}

.review_card>.content {
    padding: 10px;
}

.quote_ {
    font-size: 30px;
}

.review_star {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 10px;
}

.review_star>svg {
    width: 20px;
    fill: #F2A846;
}

/* ////////////////
subscribe 
//////////////////////  */
.subscribe_sec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe_container {
    padding: 50px 0px 100px;
    background-color: #F2A846;
    width: 70%;
    box-shadow: rgb(43, 49, 55) 0px 20px 30px -10px;
    justify-content: center;
    border-radius: 15px;
    position: relative;
    left: 00px;
    z-index: 0;
}

.subscribe_container>div {
    justify-content: center;
}

.subscribe_container>div>input {
    font-size: 16px;
    padding: 8px 10px 6px 10px;
    border: 0px solid;
    border-radius: 5px;
    width: 80%;
    max-width: 250px;
    transition: ease-in-out 200ms;
    position: relative;
    left: 5px;
    z-index: 1;
}

.subscribe_container>div>input:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* ////////////////
 Footer
//////////////////////  */
footer,
footer>div {
    background: #16222A;
    color: #ffffff;
    margin: 100px 0 0 0;

    width: 100%;
}

footer>h4 {
    text-align: center;
}

footer a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 2px solid #ffffff;
}

.footer_sec {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.footer_col {
    width: 250px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_col>p,
.footer_col>div>p {
    text-align: center;
}

/* footer social icons */

.social_network {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer_col>h4,
.footer_col>p,
.footer_col>div>h4,
.footer_col>div>p {
    text-align: center;
}

@media(min-height: 991px) {
    .banner {
        height: 40vh;
    }
}

@media(max-width: 991px) {
    body>header
    body>section{
        padding: 0px 5px;
    }
    #banner_img>img {
        max-width: 100%;
    }

    #product_container {
        display: grid;
        top: 0;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px;
    }

    .product_secr {
        margin-bottom: 0px;
    }

    .product_container_bg {
        display: none;
    }

    /* ////////////////
Review Slider
//////////////////////  */
    .review_section {
        margin-top: 0px;
    }

    .review_title {
        width: 100%;
        text-align: center;
    }

    .review_section>.container {
        flex-direction: column;
    }


}

@media(max-width: 769px) {

    /* ////////////////

//////////////////////  */
    .menu_items {
        position: absolute;
        z-index: 9999;
    }

    .nav_toggle {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 35px;
        padding: 0px;

    }

    .nav_wrapper {
        margin: 0;
        padding-left: 0;
        display: flex;
        gap: 20px;
        justify-content: start;
        height: 300px;
        flex-direction: column;
        transition: ease-in-out 500ms;
        background-color: rgb(255, 255, 255);
    }

    .nav_item {
        width: 90%;
    }

    .nav_inactive {
        top: -300%;
        width: 0%;
        left: 50%;
        opacity: 0;

    }

    .nav_active {
        width: 100%;
        top: 70px;
        left: 0;
        opacity: 1;
    }

    .shop_cart {
        padding-right: 20px;
    }

    .banner {
        margin-top: 100px;
        flex-direction: column;
        height: auto;
    }

    /* ////////////////
    
//////////////////////  */
    h1 {
        font-size: 30px;
    }

    #banner_text_container>p,
    h1,
    .header_btns_container {
        text-align: center;
    }

    #banner_img {
        margin-top: 20px;
    }

    /* ////////////////
    
//////////////////////  */
    .feature_sec {
        margin: 50px auto 0;
    }

    .feature_container {
        justify-content: space-around;
    }

    .feature_list,
    .feature_bg {
        width: 150px;
        height: 150px;
    }

    .feature_list {
        top: 50px;
        left: 0;
    }

    .feature_bg {
        top: -95px;
    }

    .feature_banner {
        display: none;
    }

    /* ////////////////
   service sction
//////////////////////  */
    .service_section {
        height: fit-content;
    }

    .service_list {
        flex-direction: column;
    }

    /* ////////////////
    product card sction
//////////////////////  */
    #product_container {
        gap: 20px;
    }

    /* ////////////////
    review card slider sction
//////////////////////  */
    #reviewList {
        width: 95vw;
    }

    /* ////////////////
    subscribe sction
//////////////////////  */
    .subscribe_container {
        padding: 0 auto 20px;
        width: 100%;
    }

    .subscribe_container>div {
        flex-direction: column;
        gap: 20px;
    }

    .subscribe_container>div>input {
        left: 0;
    }

    .subscribe_container>div>button {
        left: 0;
    }

    .footer_sec {
        flex-wrap: wrap;
    }

}

@media(max-width: 480px) {

    .feature_container {
        display: grid;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
    }

    .features_div {
        justify-content: center;
        align-items: center;
    }


    #product_container {
        gap: 5px;
    }

    .new_product_single {
        width: 160px;
    }

    .new_product_single>img {
        width: 75%;
    }

}